<?xml version="1.0" encoding="UTF-8"?>
<settings>
   <inrix ix_Addr="http://ws.inrix.com/Traffic/inrix.ashx" ix_Port="80" ix_CredentialsAPI="GetSecurityToken" ix_GetDataAPI="GetRoadSpeedInSet" ix_VendorID="[VENDORID]" ix_CustomerID="[CUSTOMER_ID]" ix_TMCSetID="[TMCSET]" ix_Units="0" ix_FullTMC="True" ix_retryAfterSec="10" ix_timeOut="20" pr_Average="60" pr_Reference="60" pr_Records="1" />
   <database db_Addr="[DATABASE_ADDR]" db_Catagory="[DB_NAME]" db_Username="[DB_USERNAME]" db_Password="[DB_PASSWORD]" db_Timeout="30" db_Retryafter="10" db_inrix_hist_spd_scr_ttm="[HITORICAL_RECORD_TABLE]" db_inrix_hist_avg="[HISTORICAL_AVG_TABLE]" db_inrix_hist_ref="[HISTORICAL_REF_TABLE]" db_inrix_latest_spd_scr_ttm="[LATEST_RECORD_LABEL]" db_inrix_latest_avg="[LATEST_AVG_LABEL]" db_inrix_latest_ref="[LATEST_REF_LABEL]" />
   <other log_type="2" log_enable="True" log_fileloc="Log.rtf" />
</settings>